{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<form class="auth" action="/auth/register" method="post">
    <p>
        <label for="username" id="label-username">Username:</label>
        <input type="username" id="username" autofocus required name="username" placeholder="Username">
    </p>
    <p>
        <label for="password" id="label-password">Password:</label>
        <input type="password" id="password" required minlength="8" maxlength="64" name="password" placeholder="Password">
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Register">
</form>
{% endblock %}