<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Store urls for further review">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="alternate" type="application/feed+json" title="Backlog JSON feed" href="{{ url_for('feed.feed_json') }}">
    <link rel="alternate" type="application/feed+xml" title="Backlog RSS feed" href="{{ url_for('feed.feed_xml') }}">
</head>
<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="{{ url_for('index') }}">Backlog</a>
      </li>
      <div class="topnav-right">
        {% if session['username'] %}
          <li>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        {% else %}
        <li>
          <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
          {% if config['REGISTRATION'] == 'on' %}
            <li>
              <a href="{{ url_for('auth.register') }}">Register</a>
            </li>
          {% endif %}
        {% endif %}
      </div>
    </ul>
  </div>

  <div class="content">
    <section>
        <header>
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-warning" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
    </section>
  </div>
  <footer>
    <div class="footer">
      <ul>
        <li>
          <a href="https://gitlab.com/novakele">Created by novakele</a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>