{% extends 'layout.html' %}

{% block title %}
Records
{% endblock %}

{% block body %}
{% if session['username'] %}
<form action="{{ url_for('record.add') }}" method="POST">
    <div class="add">
        <input type="url" name="link" id="link" autofocus (required) placeholder="https://example.com">
        <select name="category" id="category">
            <option value="category" selected disabled>Category</option>
            {% for category in categories %}
                <option value="{{ category['category'] }}">{{ category['category'] | title }}</option>
            {% endfor %}
        </select>
        <input type="text" name="new_category" id="new_category" enabled (required) placeholder="New Category">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Add">
    </div>
</form>
{% endif %}

<div>
    <table>
        <tr>
            <th>Link</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        {% for record in records %}
        <tr>
            <td><a href="{{ record['link'] }}">{{ record['link'] }}</a></td>
            <td>{{ record['title'] }}</td>
            <td>{{ record['description'] }}</td>
            <td>{{ record['category'] | title }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if session['username'] %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var category = document.querySelector('#category');
        var new_category = document.querySelector('#new_category');

        new_category.setAttribute('hidden', 'hidden');
        new_category.setAttribute('disabled', 'disabled');

        category.addEventListener('change', () => {
            
            if (category.value.toLowerCase() == 'new') {
                new_category.removeAttribute('hidden');
                new_category.removeAttribute('disabled')
            }
            else {
                new_category.setAttribute('hidden','hidden');
                new_category.setAttribute('disabled','disabled');
            }
        })
    })
</script>
{% endif %}
{% endblock %}