.topnav ul, .footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40;
  width: 100%
}
.topnav li, .footer li {
  float: left;
}
.topnav a, .footer a{
  display: block;
  color: white;
  text-align: center;
  padding: 7px 14px ;
  text-decoration: none;
}
.topnav-right {
  float: right;
}
.footer {
  bottom: 0;
  position: fixed;
  width: 99.4%;
  
}
*, label {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.add {
  margin-top: 10px;
  margin-bottom: 10px;
}
.alert {
  color: #dc3545;
  padding-bottom: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}
td, th {
  border-bottom: 4px solid #2b3035;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #565E66;
}
tr:nth-child(odd) {
  background-color: #343a40;
}
body {
  background-color: #2b3035;
}
a {
  color: #fff;
}
#label-username, #label-password {
  color: #fff;
  display: table-cell;
}
#username, #password {
  display: table-cell;
  margin-left: 5px;
}
form p {
  display: table-row;
}
form #auth {
  display: table;
}